# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Test & coverage
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
